body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
  }
  
header {
  background-color: black;
  width: 100%;
  position: fixed;
  text-align: center;
}  

nav {
  background-color: black;
  position: relative;
  padding-top: 20px;
}
  .hero-image {
    background: url(wen\ portrait\ -\ jia.JPG) no-repeat center;
    background-size: cover;
    height: 700px; 
    width: auto;
    background-attachment: fixed;
  }

  .topnav {
    overflow: hidden;
    position: fixed;
    top: 12%;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
  }

  :last-child {
    padding: 0px;
  }

  .topnav a {
    float: none;
    width: 33%;
    text-align: center;
    padding: 12px;
    font-size: 19;
    color: white;
    text-decoration: none;
  }

  .topnav a:visited {
    color: white;
    text-decoration: none;
  }
  .topnav a:hover {
    color: rgb(188, 100, 100);
    text-decoration: wavy;
  }

  .topnav a:active {
    color:rgb(158, 39, 39);
    text-decoration: wavy;
  }

  .topnav-left {
    float: left;
    color: white;
    text-decoration: none;
    top: 2%;
    padding-left: 22px;
    padding-bottom: 5px;
  }

  .topnav-left a:visited {
    color: white;
    text-decoration: none;
  }

  .topnav-left a:hover {
    color: rgb(188, 100, 100);
    text-decoration: wavy;
  }

  .topnav-left a:active {
    color:rgb(158, 39, 39);
    text-decoration: wavy;
  }

  .resize {
    float: left;
    width: 400px;
    height: auto;
    align-content: left;
    padding-left: 2%;
  }

  h1 {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  h2 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
    padding-bottom: 8px;
  }

  h3 {
    color:rgb(0, 0, 0);
    text-align: center;
  }
  
  p {
    user-select: none;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24pt;
    width: 66%;
    margin: 0 auto;
    text-align: center;
  }

  img {
    display: block;
    block-size: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  *{
    box-sizing: border-box;
  }

.column {
  float: right;
  width: 50%;
  padding: 20px;
}  

.row::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: content-box;
  place-content: center;
}

input[type=text], select, textarea {
  float: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  position: center;
  width: 50%;
  padding: 12px 2px;
  background-color: #000000;
  color: white;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: vertical;
}

label {
  text-align: center;
  padding: 12px 12px 12px 0;
  color: white;
  display: inline-block;
}

input[type=submit] {
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 0px;
  cursor: pointer;
  float: none;
}

input[type=submit]:hover {
  background-color: #b45252;
}

.container {
  text-align: center;
  place-items: center;
  border-radius: 0px;
  background-color: #000000;
  padding: 20px;
}

.col-75 {
  text-align: center;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

.icon-bar {
  place-items: center;
  width: 100%;
  float: none;
  text-align: center;
  background-color: none;
  overflow: auto;
  padding-bottom: 20px;
}

.icon-bar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 2px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #c48080;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}
