body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 0, 0);
  }
  
header {
  background-color: black;
  width: 100%;
  position: static;
  text-align: center;
}  

/* Index background photo */
  .hero-image {
    background: url(wen\ portrait\ -\ jia.JPG) no-repeat center;
    background-size: cover;
    height: 700px; 
    width: 100%;
    background-attachment: fixed;
    overflow: clip;
  }

/* Navigation bar stuff*/


nav {
  background-color: black;
  position: relative;
  padding-top: 20px;
}

  .topnav {
    overflow: hidden;
    top: 0;
    position: sticky;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    text-decoration: none;
  }


  :last-child {
    padding: 0px;
  }

  .topnav a {
    float: none;
    place-content: center;
    text-align: center;
    width: auto;
    padding: 20px;
    font-size: 19;
    color: white;
    text-decoration: none;
  }

  .topnav a:visited {
    color: white;
    text-decoration: none;
  }
  .topnav a:hover {
    color: rgb(188, 100, 100);
    text-decoration: wavy;
  }

  .topnav a:active {
    color:rgb(158, 39, 39);
    text-decoration: wavy;
  }

  .topnav-left {
    float: left;
    color: white;
    text-decoration: none;
    top: 0;
    padding-left: 22px;
    padding-bottom: 5px;
  }

  .topnav-left a:visited {
    color: white;
    text-decoration: none;
  }

  .topnav-left a:hover {
    color: rgb(188, 100, 100);
    text-decoration: wavy;
  }

  .topnav-left a:active {
    color:rgb(158, 39, 39);
    text-decoration: wavy;
  }

/* Photo class */
  .resize {
    float: left;
    width: 400px;
    height: auto;
    align-content: left;
    padding-left: 2%;
  }

/* Font stuff */
  h1 {
    color: white;
    text-align: center;
    text-decoration: none;
  }

  h2 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-size: 30px;
  }

  h3 {
    color:rgb(255, 255, 255);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24pt;
    text-decoration: none;
    width: auto;
    margin: 0 auto;

  }
  
  p {
    user-select: none;
    color:rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 24pt;
    width: 66%;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: linear-gradient(rgb(188, 100, 100), white);
  }

  img {
    display: block;
    block-size: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  *{
    box-sizing: border-box;
  }

.column {
  float: none;
  width: 100%;
  padding: 20px;
}  

.row::after {
  content: "";
  clear: both;
  display: table;
}
/* CONTACT FORM */
* {
  box-sizing: content-box;
  place-content: center;
}

input[type=text], select, textarea {
  float: none;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  position: center;
  width: 40%;
  padding: 8px 2px;
  background-color: #000000;
  color: white;
  border: 1px solid #ccc;
  border-radius: 0px;
  resize: vertical;
}


input[type=submit] {
  text-align: center;
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: 1px solid white;
  border-radius: 0px;
  cursor: pointer;
  float: none;
}

input[type=submit]:hover {
  background-color: #b45252;
}

.container {
  text-align: center;
  place-items: center;
  border-radius: 0px;
  background-color: #000000;
  padding: 10px;
}

.col-75 {
  text-align: center;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* SOCIAL MEDIA LINKS ICON BAR */
.icon-bar {
  place-items: center;
  width: 100%;
  float: none;
  text-align: center;
  background-color: none;
  overflow: auto;
  padding-bottom: 20px;
}

.icon-bar a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 2px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #c48080;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 0px 0px;
}

.fa:hover {
  color: rgb(188, 100, 100);
}

.fa-instagram {
  background: none;
  color: white;
}
.fa-youtube {
  background: none;
  color: white;
}

.fa-soundcloud {
  background: none;
  color: white;
}

#myVideo {
  position: relative;
  background-size: cover;
  overflow: hidden;
  float: none;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%; 
  max-height: auto;
}

.content {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

#myBtn {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}



/*
window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("topnav");
    var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
} */ 